/* 1390 */

@media (max-width: 1390px) {
    .product-card {
        &__top {
            flex-direction: column-reverse;
            row-gap: 20px;
        }

        &__icons {
            width: 100%;

            & .product-card__list {
                display: flex;
                justify-content: center;
            }
        }

        &__bottom {
            flex-direction: column;
            row-gap: 5px;
        }
    }
}

/* 1200 */

@media (max-width: 1200px) {
    .header {
        &__title {
            margin: 0;
        }

        &__content {
            flex-direction: column;
            row-gap: 15px;
        }
    }

    .menu {
        margin: 0;
    }

    .product-card {
        &__content {
            padding: 15px;
        }

        &__top {
            flex-direction: column-reverse;
            row-gap: 5px;
        }

        &__icons {
            width: 100%;

            & .product-card__list {
                display: flex;
                justify-content: center;
            }
        }

        &__bottom {
            flex-direction: column;
            row-gap: 5px;
        }
    }

    .reasons {
        &__wrap {
            column-gap: 60px;
        }

        &__promo {
            font-size: 23px;
        }
    }
}

/* 992 */

@media (max-width: 992px) {
    .header {
        &__title {
            line-height: 110%;
            font-size: 30px;
        }
    }

    .reasons {
        &__title {
            text-align: center;
            padding-right: 0;
            padding-left: 0;
            line-height: 110%;
            font-size: 30px;
        }

        &__btn {
            text-align: left;
            font-size: 16px;
        }

        &__promo {
            line-height: 150%;
            font-size: 18px;
        }
    }

    .roman-content {
        &__modal {
            width: 55%;
        }
    }

    .calc__title {
        line-height: 110%;
        font-size: 20px;
    }
}

/* 768 */

@media (max-width: 768px) {
    .reasons {
        &__wrap {
            padding: 50px 25px 50px 25px;
        }
    }

    .roman {
        &-btn {
            font-size: 1.2em;
        }
    }
}